[submodule "libogg"]
	path = libogg
	url = git://git.xiph.org/mirrors/ogg.git
[submodule "libvorbis"]
	path = libvorbis
	url = git://git.xiph.org/mirrors/vorbis.git
[submodule "libtheora"]
	path = libtheora
	url = git://git.xiph.org/mirrors/theora.git
