[submodule "libogg"]
	path = libogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "libvorbis"]
	path = libvorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "libtheora"]
	path = libtheora
	url = https://github.com/brion/theora.git
[submodule "libopus"]
	path = libopus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "libskeleton"]
	path = libskeleton
	url = https://github.com/brion/libskeleton.git
[submodule "libvpx"]
	path = libvpx
	url = https://github.com/brion/libvpx.git
[submodule "libnestegg"]
	path = libnestegg
	url = https://github.com/kinetiknz/nestegg.git
[submodule "liboggz"]
	path = liboggz
	url = https://github.com/brion/liboggz.git
[submodule "dav1d"]
	path = dav1d
	url = https://code.videolan.org/brion/dav1d.git
