#spinner-panel {
	display: none;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.5);
	background-image: url('ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
#spinner-panel.seeking,
#spinner-panel.loading,
#spinner-panel.error {
	display: block;
}
#spinner-panel.error {
	background-image: none;
	text-align: center;
	vertical-align: middle;
	color: red;
}
#control-panel {
	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 0;
	height: 44px;
	
	background: rgba(255, 255, 255, 0.5);
	color: rgb(64, 64, 64);
	text-align: center;
	
	opacity: 1.0;
	transition: opacity 1.0s;
}

#controls {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	height: 44px;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	touch-action: none;
}
#controls button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	
	/* reset some more styles from iOS */
	padding: 0;
	margin: 0;
	border: none;

	color: inherit;
	background: none;
	border: none;
	
	width: 44px;
	height: 44px;

	line-height: 44px;
	font-size: 22px;
	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#controls button:hover {
	color: black;
}
#controls button:active,
#controls button.active {
	color: white;
}
#controls button {
	/* shrink to fit */
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
#controls .progress {
	/* fill space */
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 4px;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#controls .time-elapsed,
#controls .time-remaining {
	font-size: 10px;
	margin: 0 8px;
}

.progress {
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
}

#progress-total {
	position: relative;
	height: 4px;
}

#progress-buffered,
#progress-processed {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#progress-total {
	background: gray;
}
#progress-buffered {
	background: white;
}
#progress-processed {
	background: green;
}

#progress-thumb {
	position: absolute;
	top: 0;
	left: 0;

	margin-top: -10px;
	margin-left: -10px;

	width: 24px;
	height: 24px;

	border: solid 1px #aaa;
	border-radius: 12px;

	background: #ccc;
}
#progress-thumb:hover {
	border-color: #888;
}
#progress-thumb:active {
	border-color: #666;
	background: #aaa;
}
