body {
	font-family: 'Helvetica Neue', 'Roboto', 'Helvetica', sans-serif;
	background: #eee;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #888;
}

#media-chooser-stub,
#media-chooser {
	display: none;
}
#media-chooser-stub.active,
#media-chooser.active {
	display: block;
}

#media-chooser {
	background: white;
	position: absolute;
	left: 0;
	width: 100%;

	top: 5em;
}

#header {
	height: 5em;
}
#header h1 {
	display: inline-block;
}

@media (min-width: 960px) {
	body {
		overflow: hidden;
	}
	
	#header {
		position: absolute;

		left: 0;
		right: 0;

		top: 0;
		height: 5em;

		padding-left: 24px;

		overflow: hidden;
	}

	#media-chooser-stub {
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 0;
		top: 5em;
		right: 0;
		bottom: 0;
	}
	#media-chooser {
		background: white;
		
		position: absolute;
	
		left: 5em;
		width: 500px;
	
		top: 5em;
		bottom: 0;

		overflow-y: scroll;
	}

	#player {
		position: absolute;
	
		padding-left: 24px;
		padding-right: 24px;

		left: 0;
		right: 500px;

		top: 5em;
		bottom: 0;
	}
	#metadata {
		position: absolute;

		right: 0;
		width: 500px;
	
		top: 5em;
		bottom: 0;

		overflow-y: scroll;
	}
}

.media-item {
	min-height: 32px;

	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	background: white;
	border-top: solid 1px #eee;

	cursor: pointer;
}
.media-item img {
	vertical-align: middle;
}

#benchmark {
	background: white;
}


#status-view {
	display: none;
}
#status-view.status-visible {
	display: block;
	color: red;
}
